header { background-color: white; color: black; font-family: 'Mukta', sans-serif;}

.navbar-brand img { width: 15%;  }

.card-body { background-color: #F08328; }

.card {  border: none;}

.btn { background-color: black;  color: white; border: none;}

a .btn:hover;{ background-color: orange;  color: black;  }

footer { background-color: white; color: black; font-family: 'Mukta', sans-serif;}

footer span { font-family: 'Mukta', sans-serif; }

.iconos { font-size: 20px; }

.icono { color: black; }

.trayectoria h2 { font-size: 50px; color: white; margin: 2%; text-align: center; font-family: 'Mukta', sans-serif; }

.formulario h2 { font-size: 50px; color: white; margin: 2%; text-align: center; font-family: 'Mukta', sans-serif;}

form label { color: white; }

.card-title h6 { font-family: 'Mukta', sans-serif;}

.card-text p { font-family: 'Mukta', sans-serif; }

.card-body a { font-family: 'Mukta', sans-serif;}



