header { background-color: white; color: black; font-family: 'Mukta', sans-serif;}

body { font-family: 'Mukta', sans-serif; }

.navbar-brand img { width: 15%;  }

.card-body { background-color: #F08328; }

.card {  border: 5px solid white; border-radius: 8px;}

.boton { background-color: black;  color: white; text-decoration: none; padding: 6px; border-radius: 10px; }

.boton:hover { background-color: white; color: black;  }

footer { background-color: white; color: black; font-family: 'Mukta', sans-serif;}

footer span { font-family: 'Mukta', sans-serif; }

.iconos { font-size: 20px; }

.icono { color: black; }

.trayectoria h2 { font-size: 50px; color: white; margin: 2%; text-align: center; font-family: 'Mukta', sans-serif;  }

.formulario h2 { font-size: 50px; color: yellow; margin: 2%; text-align: center; font-family: 'Archivo Black', sans-serif; }

.partidos h2 { font-size: 50px; color: yellow; margin: 2%; text-align: center; font-family: 'Archivo Black', sans-serif;  }

.academia h2 { font-size: 50px; color: yellow; margin: 2%; text-align: center; font-family: 'Archivo Black', sans-serif;  }

.museo h3 { font-size: 40px; color: yellow; margin: 2%; text-align: center; font-family: 'Archivo Black', sans-serif;  }

.h3 h3 { font-size: 35px; color: yellow; margin: 2%; text-align: center; font-family: 'Archivo Black', sans-serif;  }

.formulario label { color: white;}

.card-title  { font-family: 'Mukta', sans-serif;}

.card-text {font-family: 'Mukta', sans-serif;}

.card-body a { font-family: 'Mukta', sans-serif;}

.rafanadal h1 { text-align: center; font-family: 'Archivo Black', sans-serif; color: yellow; font-size: 80px;}

.rafanadal2 h1 { text-align: center; font-family: 'Archivo Black', sans-serif; color: yellow; font-size: 50px; margin: 3%}

.boton2 { background-color: black;  color: white; text-decoration: none; padding: 6px; border-radius: 5px; font-size: 20px;}

.boton2:hover { background-color: white; color: black;  }

.card-body h5 { font-family: 'Archivo Black', sans-serif; color: yellow; text-align: center; }

.boton3 { background-color: black;  color: white; text-decoration: none; padding: 6px; border-radius: 5px; }

.boton3:hover { background-color: white; color: black; }

.card2 { border: 5px solid black; border-radius: 8px; }

.linea h3 { font-family: 'Archivo Black', sans-serif; color: orange; font-size: 40px; }

hr { color: orange;  border: 3px solid;}

.carrito h3 { font-size: 35px; color: yellow; margin: 2%; text-align: center; font-family: 'Archivo Black', sans-serif; }

.boton4 { background-color: black;  color: white; text-decoration: none; font-size: 20px; margin-bottom: 2%; margin-left: 43%; padding: 10px; border-radius: 5px; display: flex; flex-direction: row; justify-content: center; width: 15%;}

.boton4:hover { background-color: white; color: black; }






